<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
          <label class="item">
             <div class="row responsive-sm">
                <div class="col"><a ng-click="fbLogin()"><img class="facebookImage" width="100%" src="img/facebook.png" alt="" ng-click="fbLogin()"/></a></div>
            </div>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
