<ion-view view-title="Recent Tale">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
          <img src="{{SinglePost.post.thumbnail}}">
          <h2>{{SinglePost.post.title}}</h2>
          <p>{{SinglePost.post.date}}</p>
        </div>
        <div class="item item-body">
            <img class="full-image" src="{{SinglePost.post.thumbnail}}"><br><br>
            <div class="button-bar">
                <a class="button button-calm" href="#/app/playlist/{{SinglePost.post.id}}">Read</a>
                <a class="button button-calm">Narration</a>
                <a class="button button-calm">Share</a>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
