<ion-view view-title="Moppet Tales">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
          <img src="{{SinglePost.post.thumbnail}}">
          <h2>{{SinglePost.post.title}}</h2>
          <p>{{SinglePost.post.date}}</p>
        </div>
        <div class="item item-body">
            <div class="box box-4">
                <div class="box-content">
                    <img class="full-image" src="{{SinglePost.post.thumbnail}}">
            </div>
            </div>
            <div class="row StoryButtonSeperation">
                <div class="col center"><a class="button button-outline button-dark" href="#/app/playlist/{{SinglePost.post.id}}"> Read Story </a></div>
                <div class="col center"><a class="button button-outline button-dark"> Narration </a></div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
