<ion-view view-title="{{StoryPost.post.title}}">
 <ion-slide-box auto-play="false" does-continue="true" on-slide-changed="slideHasChanged($index)">
  <ion-slide ng-repeat="StoryImage in StoryPost.post.attachments">
     <img width="100%"  image-lazy-loader="android" image-lazy-src="{{StoryImage.images.full.url}}"> 
     <h3>{{StoryImage.caption}}</h3>  
  </ion-slide>
</ion-slide-box> 
    
  <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button">Auto Play OFF</button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Narraton ON</button>
  </div>
  </ion-footer-bar>
</ion-view>
