/* Empty. Add your own CSS if you like */


.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

/* Ionic Styles replacements  */

.list {
    //padding-top: 0px;
    //padding-bottom: 0px;
}


.item {
    //border-color : rgba(221, 221, 221, 0.28);
    //background-color: initial;
}

.menu .scroll-content, .has-header {
    //background: #0a9ec7;
}

.item-complex .item-content, .item-radio .item-content {
    padding: 16px 49px 16px 40px;
    //background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    //background: rgba(255, 255, 255, .75);
}

.facebookImage {
    padding-left: 10%;
    padding-right: 10%;
}

.scroll-content {
    margin-top: -3px;
}
 .center{
     text-align:center;
}





/* Showdow Box Responsive  */

.box *:last-child {
    margin-bottom: 0;
}

.box-4 {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    //margin: 10px 0px 0px 10px;
}

.box-content {
    background: none repeat scroll 0 0 #FFFFFF;
    background-color: #FFFFFF;
    //padding: 25px 55px 45px 55px;
    position: relative;
    z-index: 1;
}
.box-4:after {
    border-radius: 0 0 50% 50% / 0 0 20px 20px;
    bottom: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    content: "";
    height: 20px;
    left: 10px;
    position: absolute;
    right: 10px;
}


/*  */

.StoryButtonSeperation {
    padding-top: 30px;
}


